<div class="cDashboard">
  <div class="cTitle1">Dashboard component</div>

  <div class="cMessagesFromChildren">
    <p><strong>ViewChild F1:</strong> {{ messageFromF1 }}</p>
    <p><strong>ViewChild F2:</strong> {{ messageFromF2 }}</p>
    <p><strong>OutputMessage</strong> {{ message }}</p>
  </div>

  <div class="cChildren">
    <div>Children</div>
    <tof-f1
      [fromParent]="parentProperty"
      [magMichMeinParent]="false"
      (messageEvent)="receiveMessage($event)"
    ></tof-f1>
    <tof-f2
      [fromParent]="parentProperty"
      [magMichMeinParent]="true"
      (messageEvent)="receiveMessage($event)"
    ></tof-f2>
  </div>

  <pre><code>{{ darthVaderData | json }}</code></pre>
</div>
