/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Trebuchet MS';
}

.cMessageFromParent {
  border: 1px dotted red;
  padding: 10px;
  margin: 10px;
}

.cYes {
  padding: 10px;
  margin: 10px;
  background-color: greenyellow;
  color: black;
}

.cNo {
  padding: 10px;
  margin: 10px;
  background-color: #b51e95;
  color: white;
}

.cMessagesFromChildren {
  padding: 10px;
  border: 1px dashed blue;
  margin-top: 10px;
}
